*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  .tab {
    background-color: lightsalmon;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
  }
  
  .tab_content {
    color: white;
    display: none;
    padding: 100px 20px;
    height: 100vh;
  }
  
  #Home, .tab1 {
    background-color: rgb(186, 77, 77);
}
  #News,.tab2 {
    background-color: rgb(53, 95, 53);
}
  #Contact, .tab3 {
    background-color: rgb(119, 119, 195);
}
  #About, .tab4 {
    background-color: orangered;
}